
/* Without Login */

.account-section {
    display: flex;
    margin: auto;
    margin-right: 0;
    gap: 10px;
}

.account-section button{
    padding: 6px 13px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 150ms ease;
}

.account-section .login-button {
    color: var(--colorF);
    background-color: var(--colorB);
}

.login-button:hover {
    color: var(--colorB);
    background-color: var(--colorF);
}

.account-section .register-button {
    color: var(--colorB);
    background-color: var(--colorF);
}

.account-section .register-button:hover {
    color: var(--colorF);
    background-color: var(--colorB);
}

/* With Login  */

.avatar-img {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: solid;
    border-color: var(--colorF);
    align-items: center;
    justify-content: center;
    color: var(--colorE);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.nav-desktop .user-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 30px;
    width: 200px;
    height: auto;
    border: solid 2px;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: var(--colorA);
    background-color: var(--colorW);
}

.nav-desktop .user-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.user-menu li {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 10px 10px;
    padding-left: 25px;
    cursor: pointer;
}

.user-menu li:hover {
    background-color: var(--colorF);
}

.user-menu a, .user-menu li {
    width: 100%;
    font-size: 18px;
    color: var(--colorC);
}

.nav-desktop .hidden {
    display: none;
}