.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: var(--colorA);
    padding: 10px 50px;
    gap: 50px;
    z-index: 20;
}

.header .logo {
    display: flex;
    height: 40px;
    width: 40px;
    background-color: var(--colorB);
    cursor: pointer;
}

.header nav {
    display: flex;
    width: auto;    
}

.header nav ul {
    display: flex;
    margin-left: 0;
    gap: 20px;
}

.header nav li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav a {
    font-size: 18px;
    font-weight: 600px;
    color: var(--colorE);
}

.header nav a:hover {
    transform: scale(1.1); 
}

.header .options {
    display: flex;
    width: fit-content;
    height: 100%;
    margin: auto 0 auto auto;
    gap: 10px;
    align-items: center;
}

.header button {
    padding: 6px 13px;
    font-size: 15px;
    font-weight: 600;
}