* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;

  /* Palette */

  --colorA: #920AFF;
  --colorB: #270050;
  --colorC: #5D00A0;
  --colorD: #A200FF;
  --colorE: #FFF7FE;
  --colorG: #eaeaea;
  --colorR: #e81212;
  --colorW: #ffffff;

  --colorLG: #bdecb6;
  --colorDG: #48AE4F;
  --colorLR: #fecfc7;
  --colorDR: #c43e27;
  --colorLY: #f8f3d6;
  --colorDY: #dfc42d;


  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button-A {
  color: var(--colorW);
  background-color: var(--colorB);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms ease;
}

.button-A:hover {
  color: var(--colorB);
  background-color: var(--colorW);
}

.button-B {
  color: var(--colorB);
  background-color: var(--colorW);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 500ms ease;
}

.button-B:hover {
  color: var(--colorW);
  background-color: var(--colorB);
}