
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #0c0f14;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fbd761;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


    @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
    .menu {
      font-family: 'Raleway', Arial, sans-serif;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 1px;
    }
    .menu * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
    }
    .menu li {
      display: inline-block;
      list-style: outside none none;
      margin: 0 1em;
      padding: 0;
    }
    .menu a {
      padding: 0.5em 0.8em;
      margin: 0.2em 0;
      display: block;
      color: rgba(255, 255, 255, 0.5);
      position: relative;
      text-decoration: none;
    }
    .menu a:before,
    .menu a:after {
      height: 14px;
      width: 14px;
      position: absolute;
      content: '';
      -webkit-transition: all 0.35s ease;
      transition: all 0.35s ease;
      opacity: 0;
    }
    .menu a:before {
      left: 0;
      top: 0;
      border-left: 3px solid #c0392b;
      border-top: 3px solid #c0392b;
      -webkit-transform: translate(100%, 50%);
      transform: translate(100%, 50%);
    }
    .menu a:after {
      right: 0;
      bottom: 0;
      border-right: 3px solid #c0392b;
      border-bottom: 3px solid #c0392b;
      -webkit-transform: translate(-100%, -50%);
      transform: translate(-100%, -50%);
    }
    .menu a:hover,
    .menu .current a {
      color: #ffffff;
    }
    .menu a:hover:before,
    .menu .current a:before,
    .menu a:hover:after,
    .menu .current a:after {
      -webkit-transform: translate(0%, 0%);
      transform: translate(0%, 0%);
      opacity: 1;
    }
    @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --container-height: 498px;
}

section {
  position: relative;
  padding-right: 50px;

}

.list {
  max-height: var(--container-height);
  border: 2px solid #413d4c;
  border-radius: 15px;

  overflow-x: hidden;
  overflow-y: auto;

  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  color: #06a1ee;
  box-shadow: 0 0 0 4px #413D4C, 2px 1px 6px 4px rgba(150, 128, 137, 0.5); /* смещение, размер и цвет тени рамки*/
   color: #fff;
   font-weight: bold;
  background: #413D4C;
  padding: 40px;
  border-radius: 10px;
  
}
.list ul {
  
  margin: 0;
  padding: 0;
  list-style: none;
  background: #413d4c;
}

.list li {
  padding: 20px;
  border-top: 1px solid #90453c;
  scroll-snap-align: start;
}

.list li:first-child {
  border: 0;
}
a {
  outline: none;

text-decoration: none;
  color: #aea4a4;
}
a:hover{
  color: white;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  background: #212121;

}



/* width */
::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #212121;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #90453c;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0392b;
}
.homeText{
 color: #c0392b;
 font-size: small;
width: 350px;
height: 325px;

  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-50%, -50%);
}