.header .avatar {
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: solid;
    border-color: var(--colorW);
    align-items: center;
    justify-content: center;
    color: var(--colorW);
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}

.avatar-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 60px;
    right: 30px;
    width: 150px;
    height: auto;
    border: solid 2px;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: var(--colorA);
    background-color: var(--colorW);
}

.avatar-menu ul {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.avatar-menu li {
    display: flex;
    justify-content: left;
    width: 100%;
    padding: 10px 10px;
    padding-left: 25px;
    cursor: pointer;
}

.avatar-menu li:hover {
    background-color: var(--colorG);
}

.avatar-menu a, .avatar-menu li {
    width: 100%;
    font-size: 16px;
    color: var(--colorC);
}