.message-window {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    max-width: 500px;
    padding: 20px;
    z-index: 60;
    gap: 10px;
    border-radius: 5px;
}

.message-window h4 {
    font-size: 22px;
}

.message-window p {
    margin-left: 10px;
    font-size: 17px;
}

.message-window svg {
    height: 30px;
    width: 30px;
}

.title-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.message-window.done {
    color: var(--colorDG);
    background-color: var(--colorLG);
    fill: var(--colorDG);
}

.message-window.error {
    color: var(--colorDR);
    background-color: var(--colorLR);
    fill: var(--colorDR);
}

.message-window.warning {
    color: var(--colorDY);
    background-color: var(--colorLY);
    fill: var(--colorDY);
}