.main {
    display: flex;
    justify-content: center;
}

.page {
    text-align: end;
    margin: 0;
    width: calc(180px + 495 * (100vw / 1280)) 
}
.settings {
    display: none;
    margin: 0;
}
.selected-item {
    background-color: #a20dc7; 
    cursor: pointer; 
  }
.ruleViolations {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 1000px;
}

.ruleViolationsHeader {
    display: flex;
    min-width: 1000px;
    padding-bottom: 25px;

}

.sortedRuleViolationsList {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    min-width: 400px;
}
