.options {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 5px 10px 5px 10px;
}

.options input[type="checkbox"] {
    margin: 0 5px 0 0;
    width: 15px;
    height: 15px;
    accent-color: var(--colorA);
}


.options label,
.options input[type="checkbox"]{
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}

.window .options p, .options label {
    display: inline;
    font-size: 13px;
}

.window .options p {
    color: var(--colorB);
    margin: auto;
    margin-right: 0;
    cursor: pointer;
}

.options label {
    color: var(--colorA);
}

.options p:hover {
    text-decoration: underline;
}